body{
    width: 100%;
    height:100%;
    text-align:center;
    background-image: url(img/residential.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
#mouth{
   position: absolute; top:32.8%; left: 45.3%;
   padding: 0em 0em;
   margin: 0em 0;
   border: double 2px #4ec4d3;
}
#victim{
    position: absolute; left: 38%;
}
#notice{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #aaa;
    background: #aaa;
    border-top: solid 5px #c0ffee;
    text-shadow: -1px -1px 1px #000000, 1px 1px #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width: 30em;
    position: relative; left:37%;
}
#notice h1{
    margin: 0; 
    padding: 0;
}